<!DOCTYPE html>
<html xmlns:th ="http:// www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="home_contents">
		<div class="page-header">
			<h1>ホーム</h1>
		</div>
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm-2">企業ロゴ</th>
				<th class="info col-sm-2">企業名</th>
				<th class="info col-sm-2"></th>
			</tr>
			<tr th:each="kigyo:${kigyoList}">
				<td><img alt="kigyo_logo" th:src="'img/kigyo/' + ${kigyo.kigyo_logo}" width="100px" height="50px" ></td>
				<td th:text="${kigyo.kigyo_name}"></td>
				<td><a class="btn btn-primary" th:href="@{'/kigyoDetail/' + ${kigyo.kigyo_cd}}">商品一覧</a></td>
			</tr>
		</table>
		<label th:text="'合計：' + ${kigyoListCount} + '件'"></label></br>
		<label class="text-info" th:text="${result}">結果表示</label></br>
	</div>
</body>
</html>